/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics*/

body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    width: 100%;
}

/* Utilis*/

.profile{
    background-color: #0F0E17;
    color: white;
    max-width: 350px;
   
}

.detail{
    
}

.imgfloat{
    float: left;
}

address{
    display: inline-block;
}

a{
    display: inline-block
;
}